<h1>Create new Power</h1>
<ul>
  <% @power.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<ul>
  <%= form_for @power do |f| %>
    <li><%= f.label :name %>
    <%= f.text_field :name %></li>
    <li><%= f.label :description %>
    <%= f.text_area :description %></li>


    <%= f.submit %>
  <% end %>
</ul>
