<h1><%= @power.name %></h1>
<p><%= @power.description %></p>
Power own by: <br>
<ul>
  <% @power.heroines.each do |heroine| %>
    <li><%= heroine.super_name %></li>
  <% end %>
</ul>
<%= link_to "Edit", edit_power_path %>
<br>
<%= link_to "Back", powers_path %>
