<h2>All Heroines</h2>

<%= form_tag(heroines_search_path, method: "get") do %>
  <strong><%= label_tag(:q, "Search By Superpower:")%></strong>
  <br>
  <%= text_field_tag(:q, nil, autocomplete: 'off')%>
  <%= submit_tag("Search") %>
<% end %>
<% if @search_off == false %>
  <%= @hero_search %>
<% end %>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
