<h1>Create Heroine</h1>

<% @heroine.errors.full_messages.each do |message| %>
  <%= message %> <br>
<% end %>

<%= form_for @heroine do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name %> <br>

  <%= f.label :super_name %> <br>
  <%= f.text_field :super_name %> <br>

  <%= f.collection_select :power_id, Power.all, :id, :name, prompt: true %>

  <%= f.submit %>

<% end %>
