<h1><%= @heroine.super_name %></h1>
<ul>
  Real Name: <%= @heroine.name %><br>
  Super Power: <%= link_to @heroine.power.name, @heroine.power %>
</ul>


<%= link_to "Edit", edit_heroine_path(@heroine) %>
<br>
<%= link_to "Back", heroines_path %>
