<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Heorines, Women Superheroes</h2>
    <li><%= link_to "Heroines Page", heroines_path %></li>
    <li><%= link_to "Powers Page", powers_path %></li>

    <%= yield %>
  </body>
</html>
