<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= link_to "Heroine Index", heroines_path %> <br>
  <%= link_to "Power Index", powers_path %> <br>

  <body>
    <%= yield %>
  </body>
</html>
